<!DOCTYPE html>
<html lang="en">
<head>
<title>Badminton Court</title>
</head>
<body bgcolor="orange">
<h1 align="center">
<font color="red"><b>PANRUTI - Cashew City</b></font>
</h1>
<h3 align="center">
<font color="blue"><b>Badminton court</b></font>
</h3>
<hr size="3" color="red">
<p align="justify">
<font face="Georgia" size="5">
<ul>
<li>There is a large Badminton Court in panruti.</li>
<li>The maintenance are good .</li>
<li>Also Coaching in the Badminton Court in panruti are good .</li>
<li>It makes us Fit and good healthy life.</li>
<li>It helps to relief our stress.</li>
</ul>
</font>
</p>
</body>
</html>
