<!DOCTYPE html>
<html lang="en">
<head>
<title>Govt. Hospital</title>
</head>
<body bgcolor="lime">
<h1 align="center">
<font color="red"><b>PANRUTI - Cashew City</b></font>
</h1>
<h3 align="center">
<font color="blue"><b>Government Hospital</b></font>
</h3>
<hr size="3" color="red">
<p align="justify">
<font face="Georgia" size="5">
<b>
<ul>
 <li>   The Panruti Government Hospital havenot well-maintained hygiene.</li>
 <li>   The cost of treatment at panruti government hospitals is relatively less than in private hospitals in panruti.</li>
 <li>   Government medical schemes help underprivileged people to get treatment, sometimes free of cost from government hospitals.</li>
</ul>
</b>
</font>
</p>
</body>
</html>