
<!DOCTYPE html>
<html lang="en">
<head>
  <title> PANRUTI - Cashew City </title>
</head>
<body style="background-color: black;">
    <img src="/static/images/map.png" width="1920" height="966" alt="map" usemap="#map">
<MAP name="map">
    <area shape="RECT" coords="382,474,565,580" alt="court" title="court" href="/court/">
    <area shape="RECT" coords="551,821,734,927" alt="hospital" title="hospital" href="/hospital/">
    <area shape="RECT" coords="888,444,1092,490" alt="park" title="park" href="/park/">
    <area shape="RECT" coords="1057,368,1184,417" alt="railway" title="railway" href="/railway/">
    <area shape="RECT" coords="708,588,917,634" alt="theatre" title="theatre" href="/theatre/">
</map>
</body>
</html>