<!DOCTYPE html>
<html lang="en">
<head>
<title>Gandhi-Park</title>
</head>
<body bgcolor="yellow">
<h1 align="center">
<font color="red"><b>PANRUTI - Cashew City</b></font>
</h1>
<h3 align="center">
<font color="blue"><b>Gandhi park</b></font>
</h3>
<hr size="3" color="red">
<p align="justify">
<font face="Tahoma" size="5">
    <ul>
<li>A very nice park near panruti bus stand.</li>
<li>Very superb calm place in panruti. Best for walking. Nice playing place for kids.</li>
<li>Well maintained with jogging track. Source of ground water.</li>
<li>Good place play with children.  In Banyan Tree lot of parrot stay like house. </li>
<li>Good sound and Air.</li>
<li>Very nice place at panruti.</li>
<li>Simple and relax with play area.</li>
</ul>
</font>
</p>
</body>
</html>