<!DOCTYPE html>
<html lang="en">
<head>
<title>Panruti Railway Station</title>
</head>
<body bgcolor="orange">
<h1 align="center">
<font color="red"><b>PANRUTI - Cashew City</b></font>
</h1>
<h3 align="center">
<font color="blue"><b>Panruti Railway Station</b></font>
</h3>
<hr size="3" color="red">
<p align="justify">
<font face="Georgia" size="5">
<ul>
<li>There is a large railway station in paruti.</li>
<li>It is also locvated near to Panruti railway station.</li>
<li>It is one of the largest railway station in cuddalore district.</li>
<li>Railway travel are cheaper than the Road transport.</li>
</ul>
</font>
</p>
</body>
</html>
