<!DOCTYPE html>
<html lang="en">
<head>
<title>Bhuvaneshwari Theatre</title>
</head>
<body bgcolor="pink">
<h1 align="center">
<font color="red"><b>PANRUTI - Cashew City</b></font>
</h1>
<h3 align="center">
<font color="blue"><b>Bhuvaneshwari Theatre</b></font>
</h3>
<hr size="3" color="red">
<p align="justify">
<font face="Arial" size="5">
<b>
<ul>
<li>The bhuvaneshwari theatre is one of the best theatre in panruti.</li>
<li>It DOLBY and Gallery setup .</li>
<li>It maintain hygienically.</li>
<li>And It is near to panruti Bus Stand.</li>
<li>It gives a great experience.</li>
</ul>
</b>
</font>
</p>
</body>
</html>